---
#  Zuri Anticheat: https://github.com/ReinfyTeam/Zuri
# Author: ReinfyTeam
# Github: https://github.com/ReinfyTeam
# Email: support@reinfyteam.tk

# Zuri is an anticheat made to protect the server from any may unfair advantages from the players. Open-sourced project by ReinfyTeam.

zuri:
    prefix: "§7(§e§lZuri§r§7) §8>§r"
    version: "0.2.4" #This config version: DO NOT CHANGE THIS, UNLESS THE DEVELOPER TOLD YOU TO CHANGE THIS!!
    antibot:
       message: "§cSorry! You are humman?"
    editionfaker:
       message: "§cInvalid client!"
    network:
        enable: false # If you are using WaterDogPE, considering using a plugin that supports login-extras to include their player public ip address on their login. This may cause issue between login info's given by WaterDogPE proxy when using this ip limiter. Due the certain issues occured, this feature is now optional prior for the proxy issues.
        #This is to limit the player's access to the same address to the server.
        limit: 3
        message: "§cSorry the server can't allow access to cross the line."
    ping:
        #This is a customization that helps Zuri test the best cheating players.
        #This is the buyer's discretion if you have custom errors with your server we will not be responsible.
        normal: 20
        lagging: 200
    lagging:
        message: "{prefix} §cThe server is lagging! The server has currently §b{tps} tps§c! Zuri can't check players at the moment!"
    #Bypass a world according to list.
    world_bypass:
        enable: false
        #You can use "whitelist" or "blacklist", the fallback is blacklist.
        mode: blacklist
        list:
          - "Lobby"
          - "Hub"
          - "world"
    proxy:
        ##This is a feature that is still in the development stage. DON'T ENABLE
        enable: false #Enabling this feature will help every server you're running on your computer be protected by Zuri.
        ip: 127.0.0.1
        port: 19132
    alerts:
        message: "{prefix} §f{player_name} §7failed §f{module} §7(§c{subtype}§7) §7VL §2{realViolation}"
        enable: true
        admin: false #This will cause the in-game cheat detector to send it to the person with the permissions below
        permission: "zuri.admin"
    ban:
        commands:
            - 'ban "{player_name}" Unfair Advantage'
        message: "{prefix} §f{player_name} §chas been banned from server for hacking or abuse."
        enable: true
    detection:
        # Detections when suddenly triggered any checks that detects any kind of hack. This might spam your console or chat. NOT RECOMMENDED.
        enable: false
        message: "{prefix} §f{player_name} §7suspected using §f{module} §7(§c{subtype}§7) §7PRE-VL §2{violation}"
    kick:
        kickmessage: "§fYou have been kicked from the server."
        message: "{prefix} §f{player_name} §chas been kicked from server for hacking or abuse."
        enable: true
        # If this is enabled, this will be used. DISABLING THIS, THE FALL BACK KICK WHICH LEADS MANY BUGS, PLAYERS CANNOT BE KICKED ETC.. SO, PLEASE DO NOT DISABLE KICK COMMAND MODE FEATURE.
        commands:
              enable: true
              list:
                 - 'kick "{player_name}" Unfair Advantage'
    warning:
              enable: true
              message: "{prefix} §l§7[§eWARNING§7] §r§f{player_name} §7is tried using §f{module} §7(§c{subtype}§7)"
    debug:
        enable: true # Allow debugging checks: (/zuri debug)
        log-admin: true # Send to admin their data... Might to cause lag if enabled... Only works if player is in debug mode!
        log-server: false # Log to server, Might to cause lag if enabled... Only works if player is in debug mode also!
    captcha:
        enable: true
        text: "{prefix} §cType §b{code} §cto get rid of mute!"
        message: true
        tip: false
        title: false
        randomize: false #If it enable <message, tip, title> must disable
        code:
            length: 5
    #Custom permissions
    permissions:
        bypass:
            enable: true
            permission: "zuri.bypass"
    # Discord Webhook: The instructions of how to use this feature is on github. Please refer to the instruction first.
    # You can find all instructions on github wiki. You can modify webhook send embeds in "webhook.yml".
    discord:
        enable: false # Should discord webhooks are enabled in the server?
    chat:
        spam:
            text: "{prefix} §cSo sorry! Each chat only has a fixed time of 2 seconds apart."
            delay: 2
        command:
            text: "{prefix} §cSo sorry! Each command only has a fixed time of 2 seconds apart."
            delay: 2
        repeat:
            text: "{prefix} §cSo sorry! Don't go back to your chat last time!"
    check:
        antibot:
            enable: true
            maxvl: 1
            punishment: KICK
        autoclick:
            enable: true
            maxvl: 1
            punishment: KICK
            constants:
                  max-ticks: 5
                  max-deviation: 5
                  diff-ticks: 25
                  diff-time: 2
                  animation-diff-time: 2
                  animation-ticks: 15
        antiimmobile:
            enable: true
            maxvl: 1
            punishment: BAN
        killaura:
            enable: true
            maxvl: 1
            punishment: KICK
            constants:
                  delta-pitch: 0
                  delta-yaw: 0
                  suspecious-pitch: 30
                  max-distance: 2
                  min-count: 1
                  max-range: 2.6
        aimassist:
            enable: true
            maxvl: 1
            constants:
                  min-yaw: 0
                  min-pitch: 0.01
                  max-pitch: 0.2
                  min-abs-yaw: 0.0
                  max-abs-yaw: 0.8
                  min-abs-pitch: 0.279
                  max-abs-pitch: 0.28090858
            punishment: KICK
        wrongpitch:
            enable: true
            maxvl: 1
            punishment: KICK
        crasher:
            enable: true
            maxvl: 1
            punishment: BAN
            constants:
                  max-y: 500
        scaffold: # Todo: Improve in next versions.
            enable: false
            maxvl: 1
            punishment: BAN
            constants:
                  box-range-x: 1.0
                  box-range-y: 1.0
                  box-range-z: 1.0
                  suspecious-pitch-limit: 45
                  max-place-distance: 1.25
                  limit-place-ticks: 20
        inventorycleaner:
            enable: true
            maxvl: 1
            punishment: KICK
            constants:
                  diff-ticks: 2
                  max-transaction: 20
        antivoid: # Todo: Improve in next versions.
            enable: false
            maxvl: 1
            punishment: KICK
        speed:
            enable: true
            maxvl: 1
            punishment: KICK
            # Todo: Improve this more??
            constants:
                  # Speed (A) constants
                  threshold: 0.1
                  friction-factor: 1.0
                  xz-distance: 0.28
                  knockback-factor: 4
                  jump-factor: 0.8
                  lastmove-factor: 0.9
                  ground-factor: 0.4
                  lastjump-factor: 0.26
                  ice-factor: 0.2
                  # Speed (B) constants
                  walking-speed-limit: 4.39999
                  sprinting-speed-limit: 2.06229
                  jump-speed-limit: 4.19435
                  ice-walking-speed-limit: 2.09777
                  speed-effect-limit: 5.85535
                  time-limit: 0.5
                  time-effect-limit: 0.2
                  wakling-distance-limit: 0.25754
                  sprinting-distance-limit: 0.25344
                  jump-distance-limit: 0.45767
                  ice-walking-distance-limit: 0.00735
                  speed-effect-distance-limit: 0.49282
                  top-block-limit: 1.02384
        cheststealer:
            enable: true
            maxvl: 1
            punishment: KICK
            constants:
                 diff-time: 0.1
                 diff-ticks: 1
        instabreak:
            enable: true
            maxvl: 1
            punishment: KICK
        wrongmining:
            enable: true
            maxvl: 1
            punishment: BAN
        blockreach:
            enable: true
            maxvl: 1
            punishment: KICK
            constants:
                  max-creative-reach: 13
                  max-survival-reach: 7
        fillblock:
            enable: true
            maxvl: 1
            punishment: KICK
        spam:
            enable: true
            maxvl: 1
            punishment: CAPTCHA
            constants:
                   max-violation-rate: 5
        reach:
            enable: true
            maxvl: 1
            punishment: KICK
            constants:
                 max-distance: 4.3
                 survival-max-distance: 4.0
                 creative-max-distance: 8.3
                 max-reach-eye-distance: 4.7
        fly:
            enable: true
            maxvl: 1
            punishment: KICK
            constants:
                  max-ground-diff: 1
                  max-air-ticks: 40
        jesus: # Todo: Improve in next version, still in inspections, and testing...
            enable: false
            maxvl: 1
            punishment: KICK
        autoarmor:
            enable: true
            maxvl: 1
            punishment: KICK
        omnisprint: # Todo: Improve in next version, fix false-positive in certain moves..
            enable: false
            maxvl: 1
            punishment: KICK
            constants:
                 max-speed: 0.3
        chestaura: 
            enable: true
            maxvl: 1
            punishment: KICK
            constants:
                  transaction-divisible: 3
        inventorymove:
            enable: true
            maxvl: 1
            punishment: KICK
            constants:
                   move-sensitivity: 0.01
        airmovement:
            enable: true
            maxvl: 1
            punishment: KICK
            constants:
                 air-limit: 3.0
        phase:
            enable: true
            maxvl: 1
            punishment: KICK
        step: # Todo: Improve in next versions, fix false-positive in slabs...
            enable: false
            maxvl: 1
            punishment: KICK
            constants:
                   y-limit: 0.25
                   stairs-limit: 0.5
                   jump-limit: 0.4
        fastdrop:
            enable: true
            maxvl: 1
            punishment: KICK
            constants:
                   time-limit: 0.06
        timer: 
            enable: false
            maxvl: 1
            punishment: KICK
            constants:
                 max-diff: 10
                 diff-balance: -5
        fasteat: 
            enable: true
            maxvl: 1
            punishment: KICK
            constants:
                  timediff-limit: 1.5
        selfhit:
            enable: true
            maxvl: 1
            punishment: BAN
        fastthrow:
            enable: true
            maxvl: 1
            punishment: KICK
            constants:
                  timediff-limit: 0.2
        impossiblepitch:
            enable: true
            maxvl: 0 # immediate kick
            punishment: KICK
            constants:
                  max-pitch: 92
        clicktp: # Todo: Improve in next versions. False-positive in laggy players...
            enable: false
            maxvl: 1
            punishment: FLAG
            constants:
                  max-distance: 40.0
        messagespoof:
            enable: true
            maxvl: 1
            punishment: CAPTCHA
            constants: 
                   max-length: 500
        spider: # Todo: Improve in next versions. Fix false-positive in climbable blocks...
            enable: true
            maxvl: 1
            punishment: KICK
            constants:
                   limit-y-diff: 0.5
        fastladder: 
            enable: true
            maxvl: 1
            punishment: KICK
        proxybot:
            enable: true
            maxvl: 0
            punishment: KICK
        editionfaker:
            enable: true
            maxvl: 0
            punishment: KICK
            constants:
                windows-10: "896928775"
                nintendo: "2047319603"
                android: "1739947436"
                playstation: "20444565596"
                xbox: "1828326430"
                apple: "1810924247"
        invalidpackets:
            enable: true
            maxvl: 1
            punishment: KICK
            constants:
                  max-packet-speed: 2
        regen: # Todo: Improve in next versions, some false-positive in certain heal events...
            enable: false
            maxvl: 1
            punishment: KICK
            constants:
                 max-heal-amount: 3
                 max-healcount: 5
                 min-healrate: 0.5
        fastbow: # Todo: Improve in next versions, support for custom bows...
            enable: false
            maxvl: 1
            punishment: KICK
            constants:
                  max-hit-time: 0.65
        tower:
            enable: true
            maxvl: 5
            punishment: KICK
            constants:
                  margin-error: 0.8
                  invalid-pitch: 45
        networklimit:
            enable: false
            maxvl: 0
...
